@import "tailwindcss";
@import "@nuxt/ui";

@theme static {
  --font-title: 'Epunda Slab', serif;
  --font-sans: 'Epunda Sans', sans-serif;

  --color-green-50: #e8f1fa;
  --color-green-100: #b9d6f1;
  --color-green-200: #8bbbe8;
  --color-green-300: #5ca0df;
  --color-green-400: #2d85d6;
  --color-green-500: #1677d1;
  --color-green-600: #125fa7;
  --color-green-700: #0b3c69;
  --color-green-800: #093054;
  --color-green-900: #04182a;
  --color-green-950: #020c15;

  --color-space-50: #faf0f5;
  --color-space-100: #efd2e2;
  --color-space-200: #e5b4cf;
  --color-space-300: #da95bb;
  --color-space-400: #d586b1;
  --color-space-500: #ca689e;
  --color-space-600: #a2537e;
  --color-space-700: #8d496f;
  --color-space-800: #65344f;
  --color-space-900: #3d1f2f;
  --color-space-950: #140a10;

  --color-vertical-space-50: #f1f0f7;
  --color-vertical-space-100: #d5d3e6;
  --color-vertical-space-200: #aca7cd;
  --color-vertical-space-300: #9089bd;
  --color-vertical-space-400: #827bb4;
  --color-vertical-space-500: #746cac;
  --color-vertical-space-600: #514c78;
  --color-vertical-space-700: #464167;
  --color-vertical-space-800: #2e2b45;
  --color-vertical-space-900: #171622;
  --color-vertical-space-950: #0c0b11;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-title);
}
